<%- include("partials/header.ejs")%>

<div class="about_container">
    <h2 class="about">About</h2>
    <p class="description">This is a site where you can check what holiday is today or at any day of the year in different countries. Just choose a country from a list and push <span>"Search"</span>. If no day, month and year are choosen - today's holiday will be shown. </p>

</div>



<%- include("partials/footer.ejs")%>