body{
    margin: 0px;
    background-color: #fcfcfc;
    display: inline;
}

div {
    display: inline;
}

form {
    display: inline;
}

.topnav {
    overflow: hidden;
    width: 100%;

}

.topnav a {
    color: rgb(241, 90, 35);
    float: right;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Helvetica", sans-serif;
}

#logo {
    font-size: 1rem;
    font-weight: bold;
    transition: 0.4s;
  }

.topnav a:hover {
    background-color: rgb(241, 90, 35);
    color: rgb(252, 204, 186);
}

.topnav a.active:hover {
    background-color: #fcfcfc;
    color: rgb(241, 90, 35);
}

#logo {
    float: left;
}

footer {
    color: rgb(241, 90, 35);
    bottom: 0;
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    font-size: 1rem;
    font-family: "Helvetica", sans-serif;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 0.5fr 0.5fr 0.5fr;
}

.request {
    place-self: center;
    grid-column: span 2;
}

.topic {
    padding-left: 3%;
    overflow: hidden;
    color: rgb(241, 90, 35);
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    animation: typing 0.4s steps(8, end) forwards;
    border-right: .1em solid rgb(241, 90, 35);
    width: 0;
}

.start {
    font-size: 4rem;
}

.form {
    display: inline;
    place-self: center;
    font-family: "Helvetica", sans-serif;
    font-size: 1rem;
    grid-row-start: 2;
    grid-row-end: 5;
    justify-self: end;
    padding: 1%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Helvetica", sans-serif;
    font-size: 1rem;
}

input[type=submit] {
    background-color: rgb(241, 90, 35);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Helvetica", sans-serif;
    font-size: 1rem;
}

input[type=submit]:hover {
    text-align: center;
    background-color: rgb(252, 204, 186);
    color: rgb(241, 90, 35);
  }

.arrow {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 25%;
}

.arrow-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text{
    color: rgb(241, 90, 35);
    align-self: center;
    font-size: 1.5rem;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.answer {
    font-size: 1.5rem;
}

.about_container {
    display: grid;
    margin-bottom: 5%;
}

.about {
    align-self: center;
    font-size: 3rem;
    font-family: "Gloria Hallelujah", cursive;
    color: rgb(241, 90, 35);
}

.description {
    align-self: center;
    font-size: 2rem;
    font-family: "Gloria Hallelujah", cursive;
    color: black;
}

span {
    color: rgb(241, 90, 35);
}


@media screen and (max-width: 799px) {
    .arrow {
        width: 15%;
    }

    .form {
        display: block;
        min-width: 180px;
        margin-left: 10px;
    }

    svg {
        width: 50%;
    }

    input[type=text], select, textarea {
        font-size: 1rem;
    }
    
    input[type=submit] {
        font-size: 1rem;
    }

    .text {
        min-width: 200px;
    }

    .start {
        font-size: 4rem;
    } 

    .container {
        grid-template-rows:0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .about_container{
        min-width: fit-content;
        padding-left: 1%;
    }

    .about {
        align-self: flex-start;
        font-size: 2rem;
    }
    
    .description {
        align-self: flex-start;
        font-size: 1rem;
    }
  }


  @media screen and (max-width: 300px) {
    .arrow {
        width: 15%;
    }

    .form {
        display: block;
        min-width: 180px;
        margin-left: 10px;
    }

    svg {
        width: 50%;
    }

    input[type=text], select, textarea {
        font-size: 1rem;
    }
    
    input[type=submit] {
        font-size: 1rem;
    }

    .text {
        min-width: 100px;
    }

    .start {
        font-size: 2rem;
    } 

    .container {
        grid-template-rows:0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .about_container{
        width: 300px;
        min-width: fit-content;
        padding-left: 1%;
    }

    .about {
        align-self: flex-start;
        font-size: 2rem;
    }
    
    .description {
        align-self: flex-start;
        font-size: 1rem;
    }
    
  }
